#header{
	background-color: red;
}
#info_container{
	display: flex;
	justify-content: space-around;
	
	flex-wrap: wrap;
}
.infoRow{
	display: flex;
	align-items: center;
}
.infoBox{
	height: 100%;
	width:100%;
}